$element-width: 4px

$bar-bg: #1a1a1a
$btn-bg: #ff9800
$bar-text-fg: #b0bec5
$btn-fg: #2a2a2a

.container
  background-color: #212121
  width: 100vw
  height: 100vh
  margin: 0px

.top-bar
  background-color: $bar-bg
  position: fixed
  top: 0
  left: 0
  right: 0
  display: inline
  padding: 0px 10px

.sorting-buttons
  display: inline

.gap
  display: inline
  margin: 0px 5px

.values-array
  text-align: center
  margin: auto
  position: absolute
  bottom: 0
  left: 0
  right: 0

.array-value
  width: $element-width
  display: inline-block
  margin: 0px 1px
  background-color: #82aaff

.compared
  background-color: #c3e88d

.placed
  background-color: #c792ea

h3
  display: inline
  font-family: sans-serif
  color: $bar-text-fg

button
  background-color: $btn-bg
  text-decoration: none
  color: $btn-fg
  border: none
  padding: 10px 20px
  display: inline

button:disabled
  background-color: #323232
  color: #474747
