<div class="container">
  <div class="top-bar">
    <h3>Sorting Visualizer</h3>
    <div class="sorting-buttons">
      <div class="gap"></div>
      <button type="button" (click)="resetArray()" [disabled]="!canReset">Reset Array</button>
      <div class="gap"></div>
      <button type="button" (click)="doBubbleSort()">Bubble Sort</button>
      <div class="gap"></div>
      <button type="button">Quick Sort</button>
      <div class="gap"></div>
      <button type="button">Merge Sort</button>
      <div class="gap"></div>
      <button type="button">Heap Sort</button>
    </div>
  </div>


  <div class="values-array">
    <div
      class="array-value"
      *ngFor="let value of array; index as i"
      [ngClass]="(curr_comps[0] == i || curr_comps[1] == i) ? 'compared' : ''"
      [style.height.px]="value">
    </div>
  </div>
</div>
